/* Universal items*/
:root{
    --shadowgrey: rgb(215, 215, 215);
    --storm: rgb(68, 68, 68);
}

/* Page organization*/
body{
    font-family: 'Times New Roman', Times, serif
}
button{
    background-color: rgba(128, 132, 255, 0.138);
    border: none;
    border-radius: 5px;
    height: 40%;
    width: 40%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Menu card organization*/
.menu-btns{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* Menu button styling*/
#startbtn ,  .highscorebtn{
    transition-duration: .2s;
    text-decoration: none;
    color: black;
}
#Adecor {
    transition-duration: .1s;
    text-decoration: none;
    color: black;
}

#Adecor:hover{
    background-color: var(--storm);
    color: var(--shadowgrey);
}
#startbtn:hover, .highscorebtn:hover{
    background-color: var(--storm);
    color: var(--shadowgrey);
}




/* Formats Main header*/
h1, h2{
    display: flex;
    justify-content: center;

}


/* Formats question box*/

.title-box, .menu-box, .question-box-1, .question-box-2 , .question-box-3, .question-box-4, .done-box, .scores-box {
    border: 30px solid 156, 156, 156;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: 20%;
    box-shadow: -5px 5px 20px 3px rgb(215, 215, 215);
    
}

#example{
    border-bottom: under;
    padding-bottom: 1px black
}

input{
    display: flex;
    justify-content: space-around;
}

.hidden{
    display: none;

}
.hidden:first-child {
    display: block;
  }